/* リセットと基本スタイル */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #A5F23A;
    --baseColor: #F2F2F2;
    --fontColor: #333;
}

body {
    font-family: 
    "ヒラギノ角ゴ ProN", 
    "Hiragino Kaku Gothic ProN", 
    Meiryo, 
    sans-serif;
    background-color: var(--baseColor);
}

section {
    margin-bottom: clamp(6.5rem, 5.0437rem + 6.2136vw, 12.5rem);
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

h2 {
    display: block;
    text-align: center;
    margin-block: 48px;
    font-weight: bold;
    font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
    color: var(--fontColor);
}


/* ------------------------------------- */
/* ヘッダーとナビゲーションメニュー */
/* ------------------------------------- */

.header {
    position: fixed;
    top: 1.5625vw;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6.25vw;
    z-index: 100;
}

.logo img {
    width: 13.177vw;
    max-width: 254px;
}

/* ハンバーガーアイコン */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 72px;
    height: 72px;
    background: var(--mainColor);
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 200;
    padding: 28px 24px;
    border-radius: 50px;
}

.line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--fontColor);
    transition: all 0.3s ease;
}

/* ------------------------------------- */
/* メニューが開いたとき (activeクラスがついたとき) のアイコンの変形 */
/* ------------------------------------- */

/* 1本目: 下へ移動し、時計回り45度回転 */
.hamburger-menu.active .line:nth-child(1) {
    /* 線の高さ3pxと間のスペースを考慮し、中央に移動する距離 (24px - 3px) / 2 = 10.5px */
    transform: translateY(7.5px) rotate(45deg);
}

/* 2本目: 上へ移動し、反時計回り45度回転 */
.hamburger-menu.active .line:nth-child(2) {
    /* 1本目と同じ距離だけ上に移動 */
    transform: translateY(-5.5px) rotate(-45deg);
}

/* ナビゲーションメニュー */
.nav-menu {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100vh;
    background-color: var(--mainColor);
    padding-top: 60px;
    transition: right 0.4s ease-in-out;
    z-index: 150;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.nav-menu.active {
    right: 0;
}

.nav-menu ul {
    list-style: none;
    padding: 20px;
}

.nav-menu ul li {
    font-weight: bold;
}

.nav-menu ul li button {
    width: 100%;
    border: none;
    background: #333;
    padding-block: 18px;
}

.nav-menu ul li button a {
    color: var(--baseColor);
}

.nav-menu a {
    text-decoration: none;
    color: var(--fontColor);
    font-size: 1.1rem;
    display: block;
    padding: 5px 0;
}

/* メインコンテンツ (開閉時の背景効果用) */
.content {
    min-height: calc(100vh - 60px);
    padding: 20px;
    background-color: #f4f4f4;
    transition: all 0.4s ease-in-out;
}

.content.active {
    pointer-events: none;
}



/* ------------------------------------- */
/* メインビジュアル */
/* ------------------------------------- */

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    margin-inline: 6.25vw;
}
    
/* grid-items1 */
.grid-items1 {
    grid-column: span 5 / span 5;
    grid-column-start: 2;
}

.main-visual-image {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-visual-image img {
    width: 100%;
}

/* grid-items2 */

.grid-items2 {
    grid-column: span 4 / span 4;
    grid-column-start: 8;
}

.main-visual-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 40px;
}

.main-visual-text h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.25rem, 0.1286rem + 0.5178vw, 0.75rem);
    font-size: clamp(1rem, 0.5146rem + 2.0712vw, 3rem);
}

.cross {
    width: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
}

.main-visual-text {
    font-size: clamp(0.8125rem, 0.6456rem + 0.712vw, 1.5rem);
    text-align: justify;
}


.main-visual-text .primary-button {
    width: 100%;
    background-color: var(--mainColor);
    padding-block: 16px;
}

/* grid-items3 */

.grid-items3 {
    grid-column: span 12 / span 12;
    grid-row-start: 2;
    margin-top: -10vh;
    position: relative;
}

.grid-items3 video {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: gray;
}

.message {
    width: 38.85vw;
    position: absolute;
    right: -1%;
    bottom: -5%;
}



/* ------------------------------------- */
/* 福祉業界の課題 */
/* ------------------------------------- */

#social-issue {
    width: 100%;
    padding-inline: 6.25vw;
}

.issue-wrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--fontColor);
}

.issue-container {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 3px solid var(--fontColor);
}

.issue-image {
    width: calc(100% / 2);
    border-right: 3px solid var(--fontColor);
}

.issue-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.issue-text {
    display: grid;
    place-items: center;
    width: calc(100% / 2);
    padding: 3.43vw 3.95vw;
    line-height: 180%;
    letter-spacing: 0.08em;
    text-align: justify;
}



/* ------------------------------------- */
/* リモート支援の導入 */
/* ------------------------------------- */

#implementation-support {
    width: 100%;
    padding-inline: 6.25vw;
}

#implementation-support h2 {
    border: 3px solid var(--fontColor);
    padding-block: 48px;
}

.support-image {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    background-image: url("/assets/images/remote-support.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 180px;
}

.support-image h3 {
    position: absolute;
    bottom: 17.18vw;
    left: 7.18vw;
    font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
    font-weight: bold;
    line-height: 160%;
}

.support-image p {
    width: 26.56vw;
    position: absolute;
    top: 10.32vw;
    right: 3.125vw;
    font-size: clamp(0.8125rem, 0.7063rem + 0.4531vw, 1.25rem);
    line-height: 160%;
}

.support-image img {
    display: none;
}

.features-list {
    position: absolute;
    right: 3.125vw;
    bottom: 4.58vw;
    width: 26.56vw;
    display: flex;
    flex-direction: column;
    gap: clamp(0.75rem, 0.6893rem + 0.2589vw, 1rem);
}

.features-list li {
    background-color: #E6FFC2;
    padding: 15px;
    font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
    line-height: 160%;
    list-style: none;
}

.features-list li:nth-of-type(2) {
    background-color: #D4FF99;
}

.features-list li:last-of-type {
    background-color: var(--mainColor);
}

.current-situation {
    display: flex;
}

.current-situation h3 {
    width: calc(100% - 60%);
    font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
    font-weight: bold;
    margin-left: 7.39vw;
    letter-spacing: 0.08em;
}

.current-situation span {
    font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
    font-weight: bold;
    position: relative;
}

.current-situation span::before {
    content: "";
    display: inline-block;
    height: 1.666vw;
    width: 252px;
    background-color: var(--mainColor);
    position: absolute;
    bottom: 0;
    z-index: -10;
}

.current-situation p {
    width: calc(100% - 40%);
    font-size: clamp(0.8125rem, 0.6456rem + 0.712vw, 1.5rem);
    line-height: 180%;
    text-align: justify;
}



/* ------------------------------------- */
/* 弊社サービスのメリット */
/* ------------------------------------- */

#service-merit {
    width: 100%;
    padding-inline: 6.25vw;
}

#service-merit h2 {
    border: 3px solid var(--fontColor);
    padding-block: 48px;
    margin-bottom: 0;
}

.merit-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid var(--fontColor);
    border-top: none;
}

.merit-item {
    text-align: center;
    list-style: none;
}

.merit-item:first-of-type {
    border-bottom: 3px solid var(--fontColor);
}

.merit-item:nth-of-type(2),
.merit-item:nth-of-type(3){
    border-bottom: 3px solid var(--fontColor);
    border-left: 3px solid var(--fontColor);
}

.merit-item:nth-of-type(5),
.merit-item:nth-of-type(6){
    border-left: 3px solid var(--fontColor);
}

.merit-item img {
    margin-block: 3.68vw 2.91vw;
}

.merit-text {
    display: flex;
    border-top: 3px solid var(--fontColor);
}

.merit-text:nth-of-type(n+3) {
    border-bottom: 3px solid var(--fontColor);
}

.merit-text span {
    font-weight: bold;
    font-size: clamp(1.5rem, 1.3786rem + 0.5178vw, 2rem);
    border-right: 3px solid var(--fontColor);
    padding: 10px;
}

.merit-text h3 {
    width: calc(100% - 10%);
    font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-button {
    border: 3px solid var(--fontColor);
    border-top: none;
    background-color: var(--mainColor);
    width: 100%;
    padding-block: 96px;
}

.primary-button a {
    font-size: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
}



/* ------------------------------------- */
/* 効果・実績 */
/* ------------------------------------- */

#results-section {
    width: 100%;
    padding-inline: 6.25vw;
}

#results-section h2 {
    border: 3px solid var(--fontColor);
    padding-block: 48px;
}

.results-list {
    display: block;
    margin-bottom: clamp(3.5rem, 3.3786rem + 0.5178vw, 4rem);
}

.results-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 24px;
}

.results-item:last-of-type {
    margin-bottom: 0;
}

.results-image {
    width: 35.41vw;
    height: 34.16vw;
}

.results-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.results-text {
    width: 52.08vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(0.75rem, 0.568rem + 0.7767vw, 1.5rem);
    padding-inline: 5vw;
}

.results-text h3 {
    font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
    font-weight: bold;
}

.results-text p {
    font-size: clamp(0.8125rem, 0.6456rem + 0.712vw, 1.5rem);
    letter-spacing: 0.08em;
}

#results-section .primary-button {
    border-top: 3px solid var(--fontColor);
}



/* ------------------------------------- */
/* 利用者・支援員の声 */
/* ------------------------------------- */

#voice {
    width: 100%;
    padding-inline: 6.25vw;
}

#voice h2 {
    border: 3px solid var(--fontColor);
    padding-block: 48px;
    margin-bottom: 0;
    border-bottom: none;
}

/* スライダー */

.test-slick {
    width: 100%;
    display: flex;
    padding: 7.55vw 0;
    border: 3px solid var(--fontColor);
}

/* voice cards */
.test-slick__item {
    width: 382px!important;
    height: 400px!important;
    padding: 20px;
    border: 3px solid var(--fontColor);
}

/* arrow */
.slick-prev, .slick-next {
    width: 0;
    height: 100%;
}

.slick-prev {
    left: 0;
    z-index: 10;
}

.slick-prev::before {
    right: 5.781vw;
    content: url("/assets/images/arrow-prev.svg");
}

.slick-next {
    right: 5.781vw;
}

.slick-next::before {
    right: 5.781vw;
    content: url("/assets/images/arrow.svg");
}

.slick-prev:before, .slick-next:before {
    display: block;
    height: 100%;
    color: var(--baseColor);
    opacity: 1;
    
}

.slick-prev:before, .slick-next:before {
    width: 5.781vw;
    line-height: 0; /* height: 100%と併用するためにリセット */
    display: flex;
    justify-content: center; 
    align-items: center;    
    background-color: var(--fontColor);
}

.slick-track {
    display: flex;
    gap: 4.375vw;
}

.slick-slide {
    height: 400px!important;
}

/* cards inner  */
.test-slick__item h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.txt {
    text-align: justify;
    font-size: 13px;
    letter-spacing: 0.08em;
    line-height: 160%;
}



/* ------------------------------------- */
/* プランのご紹介 */
/* ------------------------------------- */

#plans {
    width: 100%;
    padding-inline: 6.25vw;
}

#plans h2 {
    border: 3px solid var(--fontColor);
    padding-block: 48px;
}

#plans h3 {
    text-align: center;
    font-size: clamp(1rem, 0.757rem + 1.04vw, 2rem);
    font-weight: bold;
    margin-bottom: 6.875vw;
}

/* 人材採用プランリスト */

.plans-list-recruit {
    display: flex;
    justify-content: space-between;
    gap: 2.656vw;
    margin-inline: 5.72vw;
    margin-bottom: 6.875vw;
}

.plans-list-recruit .plans-item {
    width: 22.08vw;
    max-width: 424px;
    min-width: 347px;
    border: 3px solid var(--fontColor);
    padding: 64px 24px 40px;
    list-style: none;
    text-align: center;
}

.plans-list-recruit .plans-item:nth-of-type(2) {
    transform: scale(1.2);
    border: 3px solid #9BEC29;
    box-shadow: 3px 3px 15px rgb(155, 236, 41, 0.2);
}

.plans-list-recruit .plans-item:last-of-type {
    border: 3px solid #F57BFB;
    box-shadow: 3px 3px 15px rgb(244, 121, 251, 0.2);
}

.plans-list-recruit .plans-item h4 {
    font-size: clamp(1.25rem, 1.189rem + 0.26vw, 1.5rem);
    margin-bottom: 24px;
}

.plans-list-recruit .plans-item:nth-of-type(2) h4 {
    color: #71B610;
}

.plans-list-recruit .plans-item:last-of-type h4 {
    color: #A013AA;
}

.plan-features {
    display: block;
    text-align: left;
    list-style: none;
}

.plan-features li {
    font-size: clamp(0.813rem, 0.646rem + 0.71vw, 1.5rem);
    margin-bottom: 12px;
}

.plans-list-recruit .recommend {
    font-size: clamp(1rem, 0.818rem + 0.78vw, 1.75rem);
    font-weight: bold;
    background-color: var(--mainColor);
    padding-block: clamp(1rem, 0.757rem + 1.04vw, 2rem);
    text-align: center;
    margin-block: 72px;
}

.plans-list-recruit .recommend-recruit {
    font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
    font-weight: bold;
    text-align: center;
    line-height: 180%;
    margin-top: 24px;
}

.plan-point {
    width: 57.81vw;
    margin-top: 3.75vw;
    margin: 72px auto 160px;
}

.plan-point h4 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1.25vw;
}

.plan-point p {
    font-size: clamp(0.75rem, 0.568rem + 0.78vw, 1.5rem);
    border: 3px solid var(--fontColor);
    padding: 2.08vw 1.25vw;
    text-align: justify;
}

/* リモート導入支援プランリスト */

.plans-list-remote {
    display: flex;
    justify-content: space-between;
    gap: 2.656vw;
    margin-inline: 5.72vw;
    margin-bottom: 6.875vw;
}

.plans-list-remote .plans-item {
    width: calc(100% / 3);
    max-width: 424px;
    border: 3px solid var(--fontColor);
    padding: 64px 24px 40px;
    list-style: none;
    text-align: center;
}

.plans-list-remote .plans-item:nth-of-type(2) {
    border: 3px solid #71B610;
    box-shadow: 3px 3px 15px rgb(155, 236, 41, 0.2);
}

.plans-list-remote .plans-item:last-of-type {
    border: 3px solid #077687;
    box-shadow: 3px 3px 15px rgb(94, 193, 255, 0.2);
}

.plans-item-title {
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.9375vw 1.9791vw ;
    border-bottom: 3px solid var(--fontColor);
    margin-bottom: 24px;
}

.plans-item-title:nth-of-type(2) {
    border-bottom: 3px solid #71B610;
}

.plans-item-title:last-of-type {
    border-bottom: 3px solid #077687;
}

.plans-item-title h4 {
    font-size: clamp(1.25rem, 1.189rem + 0.26vw, 1.5rem);
    font-weight: bold;
    line-height: 180%;
}

.plans-list-remote .plans-item:nth-of-type(2) h4 {
    color: #71B610;
}

.plans-list-remote .plans-item:last-of-type h4 {
    color: #077687;
}

.detail {
    font-weight: bold;
    font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
    line-height: 160%;
    text-align: justify;
}



/* ------------------------------------- */
/* サービスフロー */
/* ------------------------------------- */

#flow {
    width: 100%;
    padding-inline: 6.25vw;
}

#flow h2 {
    border: 3px solid var(--fontColor);
    padding-block: 48px;
}

.flow-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.flow-list {
    list-style: none;
    margin-inline: 7.395vw;
}

.flow-item {
    display: flex;
    border: 3px solid var(--fontColor);
}

.flow-item span {
    display: flex;
    align-items: center;
    padding: 3.4375vw 16px;
    font-size: clamp(0.813rem, 0.282rem + 2.27vw, 3rem);
    border-right: 3px solid var(--fontColor);
}

.flow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: clamp(1rem, 0.757rem + 1.04vw, 2rem) clamp(0.625rem, -0.073rem + 2.98vw, 3.5rem);
}

.flow-container h3 {
    font-weight: bold;
    font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
}

.flow-container p {
    font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
    line-height: 180%;
    text-align: justify;
    letter-spacing: 0.08em;
}

.w-arrow {
    width: 3.75vw;
    margin: 0 auto;
}



/* ------------------------------------- */
/* Q&A */
/* ------------------------------------- */

#qa{
    width: 100%;
    padding-inline: 6.25vw;
}

#qa h2 {
    border: 3px solid var(--fontColor);
    padding-block: 48px;
}

/* アコーディオン */

.acd-check{
    display: none;
}
.acd-label{
    background: #32b988;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
    position: relative;
}
.acd-label:after{
    background: #32b988;
    box-sizing: border-box;
    content: '+';
    display: block;
    height: 44px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0px;
}
.acd-content{
    display: block;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}
.acd-check:checked + .acd-label:after{
    content: '-';
}
.acd-check:checked + .acd-label + .acd-content{
    height: auto;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}
.acd-content p{
    margin:0;
}